.navbarr {
  width: 100%;
  position: fixed;
  top: 0;
  //background-color:#494948;
  background-color:#252839;
  height: 80px;
  transition: all 0.5s linear;
  z-index: 5;
  @include responsive(765px) {
    display: block;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
  }
  &__left {
    display: flex;
    justify-content: center;
    @include responsive(765px) {

      margin-right: 0;
    }
  }
  &__left img {
    width: 50px;
    height: auto;
  }
  &__icon {
    position: relative;
    font-size: 2rem;
  }
  & figure {
    display: none;
    @include responsive(765px){
      margin-top: 10px;
      display: block;
      color: red;
      //margin-right: -15px;
    }
  }
  &__right {
    display: flex;
    list-style: none;
    @include responsive(765px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #252839;
      margin-top:180%;
      margin-left:  -80%;
      width: 100%;
      list-style: none;
      transition: 30ms ease all;
    }
    & li a {
      color: $white;
      text-decoration: none;
      font-size: 20px;
      font-weight: 500;
      padding: 15px 7px;
      margin: 10px 15px;
      @include responsive(765px) {
        display: flex;
        color: $white;
        text-decoration: none;
        font-size: 12px;
        }
    }
    & li a:hover {

      @include responsive(765px) {
       //background: #89d0b2;
      }
    }
  }
}

